
body{
    overflow: hidden;
    background-image: url(https://cdn.discordapp.com/attachments/918428347535601665/936636463255265280/bc5551ac237a9ef4d8e9575662f2e106.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "lostwage", Arial, sans-serif;
    font-size: 12px;
    background-color: #454341;
    text-align: center;
}
#Bg{
    display: flex;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

}
canvas{
    outline: 1px solid #333;
}
#scores{
    color: #c8ff00;
    font-size : 3vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color: rgba(116, 255, 2, 0.8)
}
.name{
    font-size: 2vw;
}

#scores >* {
    margin: 1vw;
}